body{
  margin:0;
  padding:0;
}

nav>ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top:0;
    width: 100%;
    font-family: 'Nunito', sans-serif;
}
nav li{
    float:left;
}
nav a{
    display: block;
    color: white;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
}
nav a:hover{
    border: 2px solid #4C0A00;
    padding:10px 18px;
}
.home{
    background-color: #222;
}
header{
    margin-top: 46px;
    font-size: 3em;
    text-align: center;
    width:100vw;
    background-image: url("../images/workspace_small.jpeg");
    background-size: cover;
    height:30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'ABeeZee', sans-serif;
}
.content{
    margin-top:50px;
    margin-bottom:50px;
  text-align:center;
  font-family: 'Nunito', sans-serif;
}
footer{

}
footer>ul{
  list-style-type:none;
}
footer a{
    text-decoration: none;
    color:#4C0A00;
}
